<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gnomillo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="../../assets/img/gnomillo.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Fauna del jardín</ion-card-subtitle>
      <ion-card-title>Gnomillo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Míralo al tio que pillo. Un crack en toda regla. Mis respetos
    </ion-card-content>    
  </ion-card>
</ion-content>
